<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.emf.emfstore.client.ui.merge.customoption" name="customoption" schema="schema/org.eclipse.emf.emfstore.client.ui.customoption.exsd"/>
  <extension-point id="org.eclipse.emf.emfstore.client.ui.commitdialog.tray" name="org.eclipse.emf.emfstore.client.ui.commitdialog.tray" schema="schema/org.eclipse.emf.emfstore.client.ui.commitdialog.tray.exsd"/>

   <extension
         point="org.eclipse.emf.ecp.common.modelelementopener">
      <ModelElementOpener
            class="org.eclipse.emf.emfstore.client.ui.views.users.EcpModelElementOpener"
            name="org.eclipse.emfstore.client.ui.views.users.EcpModelElementOpener">
      </ModelElementOpener>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.emf.emfstore.client.ui.AdminPerspective"
            icon="icons/administration_16.png"
            id="org.eclipse.emf.emfstore.client.ui.AdminPerspective"
            name="Administration">
      </perspective>
   </extension>
   
      <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.emf.ecore.EObject"
            class="org.eclipse.emf.emfstore.client.ui.EObjectAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.emf.emfstore.client.ui.views.emfstorebrowser.dialogs.admin.SelectRolesPage"
            class="org.eclipse.emf.emfstore.client.ui.views.LabelProviderAdpaterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.emf.ecore.EObject"
            class="org.eclipse.emf.emfstore.client.ui.views.users.PropertySourceAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.properties.IPropertySource">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.emf.emfstore.client.ui.views.users.RoleSelection"
            class="org.eclipse.emf.emfstore.client.ui.views.LabelProviderAdpaterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.emf.emfstore.client.ui.views.users.UsersView$AdministrationNavigatorRootNode"
            class="org.eclipse.emf.emfstore.client.ui.views.LabelProviderAdpaterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.emf.emfstore.client.ui.AdminUiApplication">
         </run>
      </application>
   </extension>

   <extension
         point="org.eclipse.emf.ecp.editor.referencecontrols">
      <widget
            class="org.eclipse.emf.emfstore.client.ui.views.users.EcpRoleAssignmentWidget"
            name="org.eclipse.emf.emfstore.client.ui.views.users.roleAssignment"
            type="org.eclipse.emf.emfstore.server.model.accesscontrol.RoleAssignment">
      </widget>
   </extension>
   
   <extension
         point="org.eclipse.emf.ecp.common.menuContributionEnablement">
      <MenuContributionEnablement
            enabled="false">
         <Command
               commandID="org.eclipse.emf.ecp.common.handlers.open_me_ID">
         </Command>
      </MenuContributionEnablement>
   </extension>
   
  <extension
        point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.emfstore.client.ui.handlers.RevertHandler"
            commandId="org.eclipse.emf.emfstore.client.ui.revert">
         <enabledWhen>
            <and>
               <iterate
                     ifEmpty="true"
                     operator="and">
                  <instanceof
                        value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.emfstore.client.ui.commands.projectHasLocalChanges"
                        value="true">
                  </test>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.emfstore.client.ui.handlers.UndoLastOperationHandler"
            commandId="org.eclipse.emf.emfstore.client.ui.undoLastOperation">
         <enabledWhen>
            <and>
               <iterate
                     ifEmpty="true"
                     operator="and">
                  <instanceof
                        value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                  </instanceof>
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.emf.emfstore.client.ui.commands.projectHasLocalChanges"
                        value="true">
                  </test>
               </iterate>
            </and>
         </enabledWhen>
      </handler>
     <handler
           class="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ImportChangesHandler"
           commandId="org.eclipse.emf.emfstore.client.ui.importChanges">
        <enabledWhen>
           <and>
              <iterate
                    ifEmpty="true"
                    operator="and">
                 <instanceof
                       value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                 </instanceof>
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.commands.projectHasLocalChanges"
                       value="true">
                 </test>
              </iterate>
           </and>
        </enabledWhen>
     </handler>
     <handler
           class="org.eclipse.emf.emfstore.client.ui.handlers.CommitProjectHandler"
           commandId="org.eclipse.emf.emfstore.client.ui.commitProject">
        <enabledWhen>
           <and>
              <iterate
                    ifEmpty="true"
                    operator="and">
                 <instanceof
                       value="org.eclipse.emf.emfstore.client.model.ProjectSpace">
                 </instanceof>
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.commands.projectHasLocalChanges"
                       value="true">
                 </test>
              </iterate>
           </and>
        </enabledWhen>
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <category
           id="org.eclipse.emf.emfstore.client.ui.project"
           name="ECP">
     </category>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ImportChangesHandler"
           id="org.eclipse.emf.emfstore.client.ui.importChanges"
           name="Import Changes">
     </command>
     <command
           categoryId="org.eclipse.emf.emfstore.client.ui.project"
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ImportProjectHandler"
           id="org.eclipse.emf.emfstore.client.ui.importProject"
           name="Import Project">
     </command>
     <command
           categoryId="org.eclipse.emf.emfstore.client.ui.project"
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ExportProjectHandler"
           id="org.eclipse.emf.emfstore.client.ui.exportProject"
           name="Export Project">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.ShowHistoryHandler"
           id="org.eclipse.emf.emfstore.client.ui.commands.showHistory"
           name="Show History">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ExportChangesHandler"
           id="org.eclipse.emf.emfstore.client.ui.exportChanges"
           name="Export Changes">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ExportProjectSpaceHandler"
           id="org.eclipse.emf.emfstore.client.ui.exportProjectSpace"
           name="Export Projectspace">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ExportWorkspaceHandler"
           id="org.eclipse.emf.emfstore.client.ui.exportWorkSpace"
           name="Export Workspace">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ImportProjectSpaceHandler"
           id="org.eclipse.emf.emfstore.client.ui.importProjectSpace"
           name="Import Projectspace">
     </command>
 
      <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.AddServerHandler"
           id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.AddServer"
           name="Add Server">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.ServerLoginHandler"
           id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.Login"
           name="Login">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.ChangeSessionHandler"
           id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.Logout"
           name="Logout">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.CreateProjectOnServerHandler"
           id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.CreateProjectOnServer"
           name="Create Project On Server">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.DeleteProjectHandler"
           id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.DeleteProjectOnServer"
           name="Delete Project On Server">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.DeleteServerHandler"
           id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.RemoveServer"
           name="Remove Server">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ExportProjectHistoryHandler"
           id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ExportProjectHistory"
           name="Export Project History">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.exportimport.ImportProjectHistoryHandler"
           id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ImportProjectHistory"
           name=" ImportProject History">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.CheckoutHandler"
           id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ProjectCheckout"
           name="Project Checkout">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.ServerPropertiesHandler"
           id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ServerProperties"
           name="Server Properties">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.ProjectPropertiesHandler"
           id="org.eclipse.emf.emfstore.client.ui.projectProperties"
           name="Project Properties">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
          <menuContribution
           locationURI="popup:org.eclipse.emf.emfstore.client.ui.views.RepositoryView?after=additions">
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.Login"
              icon="icons/serverLogin.png"
              label="Login"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.testers.serverInfoIsLoggedIn"
                       value="false">
                 </test>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.Logout"
              icon="icons/lock.png"
              label="Logout"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.testers.serverInfoIsLoggedIn"
                       value="true">
                 </test>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ProjectCheckout"
              icon="icons/checkout.png"
              label="Checkout"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.eclipse.emf.emfstore.server.model.ProjectInfo">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.CreateProjectOnServer"
              icon="icons/projectAdd.png"
              label="Create new project..."
              style="push"
              tooltip="Create new project on the server">

           <visibleWhen
           		checkEnabled="false">
				<iterate
	               ifEmpty="false"
	               operator="and">
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.permissions.canCreateProject"
                       value="true">
                 </test>
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.testers.serverInfoIsLoggedIn"
                       value="true">
                 </test>
                 </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ExportProjectHistory"
              icon="icons/database_go.png"
              label="Export project history"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.permissions.canExportProjectHistory"
                       value="true">
                 </test>
                 <instanceof
                       value="org.eclipse.emf.emfstore.server.model.ProjectInfo">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ImportProjectHistory"
              icon="icons/folder_go.png"
              label="Import Project History"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.permissions.canImportProjectHistory"
                       value="true">
                 </test>
                 <instanceof
                       value="org.eclipse.emf.emfstore.server.model.ProjectInfo">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.DeleteProjectOnServer"
              icon="icons/delete.gif"
              label="Delete on server"
              style="push"
              tooltip="Delete this project on the server">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.emf.emfstore.client.ui.permissions.canDeleteProject"
                       value="true">
                 </test>
                 <instanceof
                       value="org.eclipse.emf.emfstore.server.model.ProjectInfo">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.RemoveServer"
              icon="icons/delete.gif"
              label="Remove repository"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.eclipse.emf.emfstore.client.model.ServerInfo">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.AddServer"
              icon="icons/serverAdd.png"
              label="New Repository..."
              style="push"
              tooltip="Adds a new EMFStore Repository">
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ProjectProperties"
              icon="icons/info.png"
              label="Project Properties"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.eclipse.emf.emfstore.server.model.ProjectInfo">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
        <command
              commandId="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ServerProperties"
              icon="icons/serverEdit.png"
              label="Server Properties"
              style="push">
           <visibleWhen
                 checkEnabled="false">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.eclipse.emf.emfstore.client.model.ServerInfo">
                 </instanceof>
              </iterate>
           </visibleWhen>
        </command>
     </menuContribution>
          <menuContribution
                locationURI="popup:org.eclipse.emf.emfstore.client.ui.views.historybrowserview.HistoryBrowserView">
             <command
                   commandId="org.eclipse.emf.emfstore.client.ui.historybrowserview.addtag"
                   label="Add tag"
                   style="push"
                   tooltip="Add a new tag to this revision">
                <visibleWhen
                      checkEnabled="false">
                   <iterate
                         ifEmpty="true"
                         operator="and">
                      <test
                            forcePluginActivation="true"
                            property="org.eclipse.emf.emfstore.client.ui.commands.treeNodeClassTester"
                            value="org.eclipse.emf.emfstore.server.model.versioning.HistoryInfo">
                      </test>
                      <test
                            forcePluginActivation="true"
                            property="org.eclipse.emf.emfstore.client.ui.permissions.canAddTag"
                            value="true">
                      </test>
                   </iterate>
                </visibleWhen>
             </command>
             <command
                   commandId="org.eclipse.emf.emfstore.client.ui.historybrowserview.removetag"
                   label="Remove tag"
                   style="push"
                   tooltip="Remove an existing tag">
                <visibleWhen
                      checkEnabled="false">
                   <iterate
                         ifEmpty="false"
                         operator="and">
                      <test
                            forcePluginActivation="true"
                            property="org.eclipse.emf.emfstore.client.ui.commands.treeNodeClassTester"
                            value="org.eclipse.emf.emfstore.server.model.versioning.HistoryInfo">
                      </test>
                      <test
                            forcePluginActivation="true"
                            property="org.eclipse.emf.emfstore.client.ui.permissions.canRemoveTag"
                            value="true">
                      </test>
                   </iterate>
                </visibleWhen>
             </command>
             <separator
                   name="org.eclipse.emf.emfstore.client.ui.historybrowserview.tagseparator"
                   visible="true">
             </separator>
             <command
                   commandId="org.eclipse.emf.emfstore.client.ui.historybrowserview.checkout"
                   label="Checkout this revision"
                   style="push"
                   tooltip="Checkout this revision of the project">
                <visibleWhen
                      checkEnabled="false">
                   <iterate
                         ifEmpty="false"
                         operator="and">
                      <test
                            forcePluginActivation="true"
                            property="org.eclipse.emf.emfstore.client.ui.commands.treeNodeClassTester"
                            value="org.eclipse.emf.emfstore.server.model.versioning.HistoryInfo">
                      </test>
                   </iterate>
                </visibleWhen>
             </command>
             <command
                   commandId="org.eclipse.emf.emfstore.client.ui.historybrowserview.revert"
                   label="Revert this revision"
                   style="push"
                   tooltip="Revert this revision of the project, the reversed changes between the previous revision has been applied">
                <visibleWhen
                      checkEnabled="false">
                   <iterate
                         ifEmpty="false"
                         operator="and">
                      <test
                            forcePluginActivation="true"
                            property="org.eclipse.emf.emfstore.client.ui.commands.treeNodeClassTester"
                            value="org.eclipse.emf.emfstore.server.model.versioning.HistoryInfo">
                      </test>
                      <test
                            forcePluginActivation="true"
                            property="org.eclipse.emf.emfstore.client.ui.permissions.canRevert"
                            value="true">
                      </test>
                   </iterate>
                </visibleWhen>
             </command>
             <command
                   commandId="org.eclipse.emf.emfstore.client.ui.historybrowserview.forcerevert"
                   label="Force to revert this revision"
                   style="push"
                   tooltip="Force to revert, the reversed changes between the previous revision has been applied">
                <visibleWhen
                      checkEnabled="false">
                   <iterate
                         ifEmpty="false"
                         operator="and">
                      <test
                            forcePluginActivation="true"
                            property="org.eclipse.emf.emfstore.client.ui.commands.treeNodeClassTester"
                            value="org.eclipse.emf.emfstore.server.model.versioning.HistoryInfo">
                      </test>
                      <test
                            forcePluginActivation="true"
                            property="org.eclipse.emf.emfstore.client.ui.permissions.canForcedRevert"
                            value="true">
                      </test>
                   </iterate>
                </visibleWhen>
             </command>
          </menuContribution>
  </extension>
  
 
     
     <extension
           point="org.eclipse.ui.bindings">
        <key
              commandId="org.eclipse.emf.emfstore.client.ui.commitProject"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="Alt+C">
        </key>
        <key
              commandId="org.eclipse.emf.emfstore.client.ui.updateProject"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="Alt+P">
        </key>
        <key
              commandId="org.eclipse.emf.emfstore.client.ui.deleteProject"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="Alt+Delete">
        </key>
        <key
              commandId="org.eclipse.emf.emfstore.client.ui.projectProperties"
              contextId="org.eclipse.ui.contexts.window"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="Alt+E">
        </key>
     </extension>
     <extension
           point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
              class="org.eclipse.emf.emfstore.client.ui.testers.ProjectIsSharedTester"
              id="org.eclipse.emf.emfstore.client.ui.commands.projectIsSharedTester"
              namespace="org.eclipse.emf.emfstore.client.ui.commands"
              properties="projectIsShared"
              type="org.eclipse.emf.emfstore.client.model.ProjectSpace">
        </propertyTester>
        <propertyTester
              class="org.eclipse.emf.emfstore.client.ui.testers.ProjectHasLocalChangesTester"
              id="org.eclipse.emf.emfstore.client.ui.commands.projectHasLocalChangesTester"
              namespace="org.eclipse.emf.emfstore.client.ui.commands"
              properties="projectHasLocalChanges"
              type="org.eclipse.emf.emfstore.client.model.ProjectSpace">
        </propertyTester>
        <propertyTester
              class="org.eclipse.emf.emfstore.client.ui.testers.ServerInfoIsLoggedInTester"
              id="org.eclipse.emf.emfstore.client.ui.testers.serverInfoIsLoggedIn"
              namespace="org.eclipse.emf.emfstore.client.ui.testers"
              properties="serverInfoIsLoggedIn"
              type="org.eclipse.emf.emfstore.client.model.ServerInfo">
        </propertyTester>
     </extension>
        
           <extension
         point="org.eclipse.ui.views">
      <view
            name="EmfStore Browser" 
            icon="icons/serverDB.png"
            category="org.eclipse.emf.ecp"
            class="org.eclipse.emf.emfstore.client.ui.views.emfstorebrowser.views.ESBrowserView"
            id="org.eclipse.emf.emfstore.client.ui.views.RepositoryView">
      </view>
      <view
            allowMultiple="false"
            category="org.eclipse.emf.ecp"
            class="org.eclipse.emf.emfstore.client.ui.views.historybrowserview.HistoryBrowserView"
            icon="icons/historyview.png"
            id="org.eclipse.emf.emfstore.client.ui.views.historybrowserview.HistoryBrowserView"
            name="History Browser"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
        point="org.eclipse.ui.decorators">
     <decorator
           adaptable="true"
           class="org.eclipse.emf.emfstore.client.ui.views.emfstorebrowser.provider.ESBrowserLabelDecorator"
           id="org.eclipse.emf.emfstore.client.ui.views.emfstorebrowser.LoginDecorator"
           label="Login Decorator"
           lightweight="true"
           state="true">
        <enablement>
           <objectClass
                 name="org.eclipse.emf.emfstore.client.model.ServerInfo">
           </objectClass>
        </enablement>
     </decorator>
  </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.CheckoutHandler"
            id="org.eclipse.emf.emfstore.client.ui.historybrowserview.checkout"
            name="CheckoutRevision">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.AddTagHandler"
            id="org.eclipse.emf.emfstore.client.ui.historybrowserview.addtag"
            name="AddTag">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.RemoveTagHandler"
            id="org.eclipse.emf.emfstore.client.ui.historybrowserview.removetag"
            name="RemoveTag">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.RevertHandler"
            id="org.eclipse.emf.emfstore.client.ui.historybrowserview.revert"
            name="RevertRevision">
      </command>
      <command
            defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.ForceRevertHandler"
            id="org.eclipse.emf.emfstore.client.ui.historybrowserview.forcerevert"
            name="ForceRevertRevision">
      </command>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.client.sessionprovider">
      <sessionProvider
            class="org.eclipse.emf.emfstore.client.ui.dialogs.login.BasicUISessionProvider">
      </sessionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.emf.emfstore.client.ui.project"
            id="org.eclipse.emf.emfstore.client.ui.commitProject"
            name="commit">
      </command>
         <command
           categoryId="org.eclipse.emf.emfstore.client.ui.project"
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.UpdateProjectHandler"
           id="org.eclipse.emf.emfstore.client.ui.updateProject"
           name="update">
     </command>
         <command
               categoryId="org.eclipse.emf.emfstore.client.ui.project"
               defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.UpdateProjectVersionHandler"
               id="org.eclipse.emf.emfstore.client.ui.updateProjectVersion"
               name="updateToVersion">
         </command>
     <command
           categoryId="org.eclipse.emf.emfstore.client.ui.project"
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.ShareProjectHandler"
           id="org.eclipse.emf.emfstore.client.ui.shareProject"
           name="share">
     </command>
     <command
           categoryId="org.eclipse.emf.emfstore.client.ui.project"
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.DeleteProjectHandler"
           id="org.eclipse.emf.emfstore.client.ui.deleteProject"
           name="deleteProject">
     </command>
     <command
           categoryId="org.eclipse.emf.emfstore.client.ui.project"
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.CreateLocalProjectHandler"
           id="org.eclipse.emf.emfstore.client.ui.NewLocalProject"
           name="NewLocalProject">
     </command>
     <command
           categoryId="org.eclipse.emf.emfstore.client.ui.project"
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.RevertHandler"
           id="org.eclipse.emf.emfstore.client.ui.revert"
           name="Revert">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.UndoLastOperationHandler"
           id="org.eclipse.emf.emfstore.client.ui.undoLastOperation"
           name="undoLastOperation">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.ProjectPropertiesHandler"
           id="org.eclipse.emf.emfstore.client.ui.repositorybrowser.ProjectProperties"
           name="ProjectProperties">
     </command>
     <command
           defaultHandler="org.eclipse.emf.emfstore.client.ui.handlers.CompareProjectsHandler"
           id="org.eclipse.emf.emfstore.client.ui.compareProjects"
           name="compareProjects">
     </command>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.client.loginObserver">
      <observer
            loginObserver="org.eclipse.emf.emfstore.client.ui.views.emfstorebrowser.provider.ESBrowserLabelDecorator">
      </observer>
   </extension>
   <extension
         point="org.eclipse.emf.emfstore.client.logoutObserver">
      <observer
            logoutObserver="org.eclipse.emf.emfstore.client.ui.views.emfstorebrowser.provider.ESBrowserLabelDecorator">
      </observer>
   </extension>
   
   <extension
	       point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
              class="org.eclipse.emf.emfstore.client.ui.testers.PermissionTester"
              id="org.eclipse.emf.emfstore.client.ui.testers.PermissionTester"
              namespace="org.eclipse.emf.emfstore.client.ui.permissions"
              properties="canUpdate,canForcedRevert,canRevert,canAddTag,canRemoveTag,canDeleteProject,canImportProjectHistory,canExportProjectHistory,canCreateProject"
              type="org.eclipse.emf.emfstore.client.model.ProjectSpace">
        </propertyTester>
         <propertyTester
               class="org.eclipse.emf.emfstore.client.ui.testers.PermissionTester"
               id="org.eclipse.emf.emfstore.client.ui.testers.PermissionTester"
               namespace="org.eclipse.emf.emfstore.client.ui.permissions"
               properties="canUpdate,canForcedRevert,canRevert,canAddTag,canRemoveTag,canDeleteProject,canImportProjectHistory,canExportProjectHistory,canCreateProject"
               type="org.eclipse.emf.emfstore.server.model.ProjectInfo">
         </propertyTester>
   </extension>

</plugin>
